$primary-color: rgb(35, 106, 165);
$secondary-color: rgb(201, 201, 201);
$light-color: white;
$dark-color: black;


.calendario{
    &__foto {
    
    }

  &__mes {
    font-size: 2rem;
    color: $primary-color;
  
  }

  &__ano {
    font-size: 2rem;
    color: $primary-color;
  }

  &__dia-semana {
    font-size: 1rem;
    color: $primary-color;
    color: $light-color;
  }

  &__dia {
    font-size: 1rem;
    color: $dark-color;
  }

  &__coluna-dia{
    border-color: $dark-color;
    border-style: solid;
    border-width: 1px;
    background-color: $secondary-color;
  }

  &__coluna-dia-semana{
    border-style: solid;
    border-width: 1px;
    border-color: $dark-color;
    background-color: $primary-color;
  }
}